<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

  
<nav>

  <div class="nav-left-side">
        <!-- Hamburger button (hidden on larger screens) -->
  <button class="hamburger" id="hamburger" (click)="toggleMenu()">&#9776;
  </button>
  <img src="logo.svg" alt="">
  </div>

  <!-- Navigation list, show it based on the value of 'isMenuOpen' -->
  <ul [ngClass]="{'active': isMenuOpen}" id="nav-list">
    <li (click)="closeMenu()">Collections</li>
    <li (click)="closeMenu()">Men</li>
    <li (click)="closeMenu()">About</li>
    <li (click)="closeMenu()">Contact</li>
  </ul>

  <div class="nav-right-side">
    <img src="icon-cart.svg" alt="">
    <img  id="second-nav-picture" src="image-avatar.png" alt="">
  </div>
  
</nav>

<body>

  <section class="scrolling-picture-of-shoe">
  <img src="icon-previous.svg" alt="" id="previous-icon">
   <img src="image-product-1.jpg" alt="" class="body-img">
   <img src="icon-next.svg" alt="" id="next-icon">
  </section>



</body>
</html>